fail_fast: true
repos:
  - repo: local
    hooks:
      - id: go-lint
        name: "Run golangci-lint"
        entry: golangci-lint run
        language: system
        pass_filenames: false
        files: \.go$

      - id: go-test
        name: "Run go tests"
        entry: go test -race ./...
        language: system
        pass_filenames: false
        files: \.go$
