name: Run golangci-lint

on:
  pull_request:
    paths:
      - '**.go'
  push:
    branches:
      - main
    paths:
      - '**.go'

concurrency:
  group: leech-go-lint
  cancel-in-progress: true

jobs:
  lint:
    name: Run linter
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.9
